/* GLOBAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

html {
  background-color: hsl(0, 0%, 95%);
}

a,
a:visited,
a:active {
  color: inherit;
  text-decoration: none;
}

/* HEADER */

header {
  height: 10vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  border-bottom: 1px solid midnightblue;
}

/* LOGO */

.logo {
  display: flex;
  gap: 5%;
  font-size: 2.5rem;
}

.logo > .fa-book-reader {
  color: midnightblue;
}

.logo > div > span {
  color: midnightblue;
  letter-spacing: 5px;
  text-transform: uppercase;
  font-weight: 700;
}

/* NAVBAR */
.navbar {
  display: flex;
  gap: 20%;
  font-size: 2rem;
  list-style: none;
}

.navbar li > a {
  text-decoration: none;
  color: midnightblue;
  transition: font-size 0.5s ease-in-out;
}

.navbar li > a:hover {
  font-weight: 700;
  font-size: 2.3rem;
}

.active-link {
  font-weight: bold;
}

/* CONTAINER */
.container {
  width: 90vw;
  height: 80vh;
  margin: 20px auto;
  display: flex;
  animation: scroll 0.5s ease-in-out;
  gap: 3%;
  font-size: 1rem;
}

/* BOOKLIST */

.book-list {
  flex: 3;
  padding: 6px;
  border-radius: 10px;
  background-color: white;
  overflow: auto;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  width: 100%;
  list-style: none;
  text-align: center;
}


::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background-color: rgb(179, 179, 179);
}

.book-list > li {
  display: flex;
  align-items: center;
  gap: 5%;
  min-height: 50px;
  border-bottom: 1px solid grey;
}

.book-list > li > div {
  display: flex;
  justify-content: center;
}

.book-list > li > div:first-child {
  flex: 3;
}

.book-list > li > div:nth-child(2) {
  flex: 2;
}

.book-list > li > div:nth-child(3) {
  flex: 1;
}

.book-list > li > div:nth-child(4) {
  flex: 2;
}

.book-list > li > div:last-child {
  flex: 1;
}

.head-row {
  text-transform: uppercase;
  letter-spacing: 5px;
  border-width: 2px !important;
  height: 70px !important;
}

.row > div:first-child,
.row > div:nth-child(4) {
  color: midnightblue;
  font-weight: 700;
}

.row > div:first-child {
  font-weight: bold;
}

.row > div:nth-child(2) {
  font-style: italic;
}

.fa-trash-alt {
  color: tomato;
  opacity: 0.6;
  transition: opacity 0.5s ease-in-out;
}

.fa-trash-alt:hover {
  opacity: 1;
  cursor: pointer;
}

/* ADD BOOK */

.book-form {
  flex: 2;
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.book-form > h2 {
  color: midnightblue;
  font-weight: 300;
}

.book-form > input {
  text-align: center;
  font-size: 1rem;
  width: 80%;
  color: rgb(49, 45, 45);
  outline: none;
  border: none;
  border-bottom: 1px solid midnightblue;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

.book-form > textarea {
  border: 1px solid midnightblue;
  resize: none;
  padding: 10px;
  height: 20%;
  width: 80%;
}

.book-form > input[type='submit'] {
  font-size: 1.3rem;
  height: 50px;
  width: 30%;
  color: white;
  font-weight: bold;
  background-color: midnightblue;
  opacity: 0.6;
  border-radius: 10px;
  transition: all 0.5s ease-in-out;
  transform: scale(1);
}

.book-form > input[type='submit']:hover {
  opacity: 1;
  transform: scale(1.2);
  cursor: pointer;
}

/* ALERT */

.alert {
  display: flex;
  justify-content: center;
  font-weight: bold;
}

.danger {
  color: tomato;
}

.success {
  color: teal;
}

/* BOOK DETAILS */

.book-details {
  padding: 6px;
  border-radius: 10px;
  background-color: white;
  overflow: auto;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  text-align: center;
}

.book-details > h1 {
  font-size: 3rem;
  color: midnightblue;
}

.book-details > h2 {
  font-size: 2rem;
}

.book-details > h2 > span {
  font-style: italic;
}

.book-details > h3 {
  font-size: 1.8rem;
}

.book-details > h3 > i {
  color: midnightblue;
}

.book-details > p {
  font-size: 1.5rem;
  width: 50%;
}

.book-details > p > span {
  font-weight: bold;
}

.book-details > button {
  background-color: red;
  font-size: 1.3rem;
  height: 50px;
  width: 20%;
  color: white;
  font-weight: bold;
  opacity: 0.6;
  border-radius: 10px;
  transition: all 0.5s ease-in-out;
  transform: scale(1);
}

.book-details > button:hover {
  cursor: pointer;
}

/* ABOUT && NOT FOUND */

.about,
.not-found {
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  text-align: center;
  margin-bottom: 30px;
}

/* ANIMATION */

@keyframes scroll {
  0% {
    transform: translateX(-1000px);
  }

  100% {
    transform: translateX(0);
  }
}

/* MEDIA QUERRIES  */

/* Small screen laptop */
@media all and (max-width: 1025px) {
  .logo {
    font-size: 2rem;
  }

  .navbar {
    font-size: 1.5rem;
  }

  .navbar li > a:hover {
    font-size: 2rem;
  }

  .container {
    font-size: 0.9rem;
  }
}

/* Ipad and tablets */

@media all and (max-width: 769px) {
  .navbar > li > a:hover {
    font-size: 1.6rem;
  }

  .container {
    flex-direction: column;
  }

  .book-list {
    min-height: 20vh;
  }

  .book-form {
    padding: 10px;
  }

  .book-form > input {
    margin: 10px;
  }
}
